main
{
  height: 60vh;
  background-image: url("../wip.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.nav-bar--container
{
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 20%;
  left: 0.2rem;
}

i
{
  color: black;
}

.nav-bar--item > i > svg,
.link--external > i > svg,
.friconix--referral  > i > svg
{
  transition-duration: 0.3s;
}

.nav-bar--item:hover > i > svg,
.link--external:hover > i > svg,
.friconix--referral:hover  > i > svg
{
  transform: scale(1.2);
}

.header--title
{
  margin: 3rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.header--paragraph
{
  margin: 0.5rem 3rem;
  text-align: center;
}

.link--external
{
  text-decoration: underline;
}

.fi-xwsuxm-link-solid
{
  margin-left: 0.1rem;
}

.footer--container
{
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.friconix--referral  > i > svg,
.friconix--referral
{
  color: white;
  margin-right: 2rem;
}

.friconix--referral  > i > svg
{
  margin-left: 0.1rem;
}